.action-button {
  height: 150px;
  aspect-ratio: 1/1;
  border: none;
  border-radius: 100rem;
  padding: 0;
  display: inline-block;
  filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.6));
  @media screen and (width<500px) {
    height: 120px;
  }
  @media screen and (width<450px) {
    height: 100px;
  }
  &:not(:disabled) {
    cursor: pointer;
  }
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100rem;
    z-index: -1;
  }
  &.scissors-button {
    background-image: linear-gradient(
      to top,
      hsl(39, 89%, 49%),
      hsl(40, 84%, 53%)
    );
    box-shadow: 0 5px 0 0 hsl(32, 80%, 35%);
  }
  &.paper-button {
    background-image: linear-gradient(
      to top,
      hsl(230, 89%, 62%),
      hsl(230, 89%, 65%)
    );
    box-shadow: 0 5px 0 0 hsl(230, 70%, 50%);
  }
  &.rock-button {
    background-image: linear-gradient(
      to top,
      hsl(349, 71%, 52%),
      hsl(349, 70%, 56%)
    );
    box-shadow: 0 5px 0 0 hsl(349, 71%, 35%);
  }
  &.lizard-button {
    background-image: linear-gradient(
      to top,
      hsl(261, 73%, 60%),
      hsl(261, 72%, 63%)
    );
    box-shadow: 0 5px 0 0 hsl(261, 73%, 50%);
  }
  &.spock-button {
    background-image: linear-gradient(
      to top,
      hsl(189, 59%, 53%),
      hsl(189, 58%, 57%)
    );
    box-shadow: 0 5px 0 0 hsl(189, 59%, 40%);
  }
  &.small {
    height: 130px;
    @media screen and (width<500px) {
      height: 95px;
    }
    @media screen and (width<450px) {
      height: 70px;
    }
  }
  img {
    height: 50%;
  }
  span {
    background-color: white;
    height: 80%;
    display: block;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100rem;
    box-shadow: inset 0 5px 0 0 hsl(0, 0, 85);
    margin: 10%;
  }
}
