@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@keyframes winnerShadow {
  0% {
    box-shadow: 0;
  }
  100% {
    box-shadow: 0 0 0 45px rgba(255, 255, 255, 0.05), 0 0 0 95px rgba(255, 255, 255, 0.05), 0 0 0 150px rgba(255, 255, 255, 0.05);
  }
}
@keyframes winnerShadowMobile {
  0% {
    box-shadow: 0;
  }
  100% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.05), 0 0 0 40px rgba(255, 255, 255, 0.05), 0 0 0 75px rgba(255, 255, 255, 0.05);
  }
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-image: radial-gradient(circle at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  background-repeat: no-repeat;
  background-position: top left;
  height: 100dvh;
  color: white;
  font-weight: 600;
}

#root {
  padding-inline: 30px;
}

header {
  width: 500px;
  margin-inline: auto;
  padding-top: 40px;
}
@media screen and (width < 600px) {
  header {
    width: 100%;
  }
}
header > div {
  display: flex;
  padding: 15px;
  border: hsl(217, 16%, 45%) solid 2px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
}
header > div > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header > div > ul li {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 0.8;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
@media screen and (width < 600px) {
  header > div > ul li {
    font-size: 1.3rem;
  }
}
header > div > ul li.full-actions-list {
  font-size: 1.3rem;
}
@media screen and (width < 600px) {
  header > div > ul li.full-actions-list {
    font-size: 1rem;
  }
}
header > div > div {
  background-color: white;
  padding: 15px 40px;
  text-align: center;
  border-radius: 5px;
}
@media screen and (width < 600px) {
  header > div > div {
    padding: 10px 25px;
  }
}
header > div > div .score-title {
  color: hsl(229, 64%, 46%);
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 2px;
}
header > div > div .score-text {
  color: hsl(229, 25%, 31%);
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  line-height: 0.9;
}

main .rules-button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 1.5rem 1.5rem 0;
  background-color: transparent;
  border: solid 1px white;
  color: white;
  font-family: "Barlow Semi Condensed", sans-serif;
  border-radius: 10px;
  padding: 0.5rem 2rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
  cursor: pointer;
}
@media screen and (width < 1050px) {
  main .rules-button {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
}

.home-main {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.home-main img {
  width: 500px;
}
@media screen and (width < 600px) {
  .home-main img {
    width: 80%;
  }
}
.home-main > div {
  width: 500px;
  display: flex;
  justify-content: space-between;
}
@media screen and (width < 600px) {
  .home-main > div {
    width: 100%;
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }
}
.home-main > div button {
  background-color: transparent;
  border: solid 1px white;
  color: white;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 3em;
  border-radius: 10px;
  padding: 0.5rem 2rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
  width: 200px;
  cursor: pointer;
}
.action-button {
  height: 150px;
  aspect-ratio: 1/1;
  border: none;
  border-radius: 100rem;
  padding: 0;
  display: inline-block;
  filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.6));
}
@media screen and (width < 500px) {
  .action-button {
    height: 120px;
  }
}
@media screen and (width < 450px) {
  .action-button {
    height: 100px;
  }
}
.action-button:not(:disabled) {
  cursor: pointer;
}
.action-button::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100rem;
  z-index: -1;
}
.action-button.scissors-button {
  background-image: linear-gradient(to top, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  box-shadow: 0 5px 0 0 hsl(32, 80%, 35%);
}
.action-button.paper-button {
  background-image: linear-gradient(to top, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  box-shadow: 0 5px 0 0 hsl(230, 70%, 50%);
}
.action-button.rock-button {
  background-image: linear-gradient(to top, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  box-shadow: 0 5px 0 0 hsl(349, 71%, 35%);
}
.action-button.lizard-button {
  background-image: linear-gradient(to top, hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  box-shadow: 0 5px 0 0 hsl(261, 73%, 50%);
}
.action-button.spock-button {
  background-image: linear-gradient(to top, hsl(189, 59%, 53%), hsl(189, 58%, 57%));
  box-shadow: 0 5px 0 0 hsl(189, 59%, 40%);
}
.action-button.small {
  height: 130px;
}
@media screen and (width < 500px) {
  .action-button.small {
    height: 95px;
  }
}
@media screen and (width < 450px) {
  .action-button.small {
    height: 70px;
  }
}
.action-button img {
  height: 50%;
}
.action-button span {
  background-color: white;
  height: 80%;
  display: block;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100rem;
  box-shadow: inset 0 5px 0 0 hsl(0, 0%, 85%);
  margin: 10%;
}

.gameboard {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15dvh;
}
@media screen and (width < 500px) {
  .gameboard {
    margin-top: 20dvh;
  }
}
@media screen and (width < 450px) {
  .gameboard {
    margin-top: 22.5dvh;
  }
}
.gameboard > img {
  position: absolute;
  z-index: -1;
  height: 100%;
}
.gameboard > div {
  height: 30dvh;
  aspect-ratio: 1.2/1;
  position: relative;
}
@media screen and (width < 500px) {
  .gameboard > div {
    height: auto;
    width: 100%;
    max-width: 40dvw;
  }
}
@media screen and (width < 450px) {
  .gameboard > div {
    width: 100%;
    max-width: 50dvw;
  }
}
.gameboard > div button {
  position: absolute;
  transform: translate(-50%, -50%);
}
.gameboard .scissors-button {
  top: 0;
  left: 0;
}
.gameboard .paper-button {
  left: 100%;
  top: 0;
}
.gameboard .rock-button {
  top: 100%;
  left: 50%;
}
.gameboard.bonus-gameboard .scissors-button {
  top: 0;
  left: 50%;
}
.gameboard.bonus-gameboard .paper-button {
  left: 100%;
  top: 38%;
}
.gameboard.bonus-gameboard .rock-button {
  top: 100%;
  left: 78%;
}
.gameboard.bonus-gameboard .lizard-button {
  top: 100%;
  left: 22%;
}
.gameboard.bonus-gameboard .spock-button {
  top: 38%;
  left: 0%;
}

.game-duel-container {
  display: flex;
  flex-direction: column;
}
.game-duel-container .duel-result-container {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (width < 1050px) {
  .game-duel-container .duel-result-container {
    display: none;
  }
}
.game-duel-container .duel-result-container p {
  font-weight: 700;
  font-size: 3rem !important;
  margin-bottom: 1rem !important;
}
.game-duel-container .duel-result-container button {
  background-color: white;
  border: none;
  width: 75%;
  padding-block: 15px;
  border-radius: 0.75rem;
  cursor: pointer;
}
.game-duel-container .duel-result-container button span {
  color: hsl(229, 25%, 31%);
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  margin: 0;
}
.game-duel-container .duel-result-container-mobile {
  display: flex;
}
.game-duel-container .duel-result-container-mobile button {
  width: 30%;
  min-width: 190px;
}
@media screen and (width >= 1050px) {
  .game-duel-container .duel-result-container-mobile {
    display: none;
  }
}
.game-duel-container .game-duel {
  display: flex;
  justify-content: center;
  margin-top: 5dvh;
  height: 30dvh;
  gap: 50px;
  margin-inline: auto;
  max-width: 1000px;
}
@media screen and (width < 500px) {
  .game-duel-container .game-duel {
    gap: 30px;
  }
}
.game-duel-container .game-duel > div {
  width: 50%;
}
.game-duel-container .game-duel > div:not(.duel-result-container) {
  display: flex;
  flex-direction: column;
}
@media screen and (width < 500px) {
  .game-duel-container .game-duel > div:not(.duel-result-container) {
    flex-direction: column-reverse;
  }
}
.game-duel-container .game-duel p {
  letter-spacing: 0.1rem;
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 4rem;
}
@media screen and (width < 500px) {
  .game-duel-container .game-duel p {
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 0.7rem;
  }
}
.game-duel-container .game-duel .duel-action-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}
@media screen and (width < 500px) {
  .game-duel-container .game-duel .duel-action-container {
    height: 70%;
  }
}
.game-duel-container .game-duel .duel-action-container::before {
  content: "";
  width: 80%;
  max-width: 240px;
  aspect-ratio: 1/1;
  border-radius: 100rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsla(229, 25%, 31%, 0.1);
  z-index: -1;
}
.game-duel-container .game-duel .duel-action-container.winner .action-button {
  position: relative;
}
.game-duel-container .game-duel .duel-action-container.winner .action-button::before {
  animation: winnerShadow 0.5s ease-out forwards;
}
@media screen and (width < 500px) {
  .game-duel-container .game-duel .duel-action-container.winner .action-button::before {
    animation: winnerShadowMobile 0.5s ease-out forwards;
  }
}
.game-duel-container .game-duel .action-button {
  width: 100%;
  height: auto;
  max-width: 300px;
}

.rules-modal-background {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  height: 100dvh;
  width: 100%;
  top: 0;
  left: 0;
}
.rules-modal-background > div {
  height: 100%;
  width: 100%;
  position: relative;
}
.rules-modal-background > div .rules-modal {
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 30px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (width < 500px) {
  .rules-modal-background > div .rules-modal {
    height: 100%;
    width: 100%;
    padding-block: 100px;
  }
}
.rules-modal-background > div .rules-modal > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
@media screen and (width < 500px) {
  .rules-modal-background > div .rules-modal > div {
    justify-content: center;
  }
}
.rules-modal-background > div .rules-modal > div p {
  color: hsl(229, 25%, 31%);
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
}
@media screen and (width < 500px) {
  .rules-modal-background > div .rules-modal > div button {
    display: none;
  }
}
.rules-modal-background > div .rules-modal button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
@media screen and (width >= 500px) {
  .rules-modal-background > div .rules-modal > button {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
