@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-image: radial-gradient(circle at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  background-repeat: no-repeat;
  background-position: top left;
  height: 100dvh;
  color: white;
  font-weight: 600;
}

header {
  width: 500px;
  margin-inline: auto;
  padding-top: 40px;
}
header > div {
  display: flex;
  padding: 15px;
  border: hsl(217, 16%, 45%) solid 2px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
}
header > div > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header > div > ul li {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 0.8;
}
header > div > ul li.full-actions-list {
  font-size: 1.3rem;
}
header > div > div {
  background-color: white;
  padding: 15px 40px;
  text-align: center;
  border-radius: 5px;
}
header > div > div .score-title {
  color: hsl(229, 64%, 46%);
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 2px;
}
header > div > div .score-text {
  color: hsl(229, 25%, 31%);
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  line-height: 0.9;
}

.action-button {
  height: 150px;
  aspect-ratio: 1/1;
  border: none;
  border-radius: 100rem;
  padding: 0;
  display: inline-block;
  cursor: pointer;
}
.action-button.scissors-button {
  background-image: linear-gradient(to top, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  box-shadow: 0 5px 0 0 hsl(32, 80%, 35%);
}
.action-button.paper-button {
  background-image: linear-gradient(to top, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  box-shadow: 0 5px 0 0 hsl(230, 70%, 50%);
}
.action-button.rock-button {
  background-image: linear-gradient(to top, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  box-shadow: 0 5px 0 0 hsl(349, 71%, 35%);
}
.action-button.lizard-button {
  background-image: linear-gradient(to top, hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  box-shadow: 0 5px 0 0 hsl(261, 73%, 50%);
}
.action-button.spock-button {
  background-image: linear-gradient(to top, hsl(189, 59%, 53%), hsl(189, 58%, 57%));
  box-shadow: 0 5px 0 0 hsl(189, 59%, 40%);
}
.action-button.small {
  height: 130px;
}
.action-button img {
  height: 50%;
}
.action-button span {
  background-color: white;
  height: 80%;
  display: block;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100rem;
  box-shadow: inset 0 5px 0 0 hsl(0, 0%, 85%);
  margin: 10%;
}

.gameboard {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15dvh;
}
.gameboard > img {
  position: absolute;
  z-index: -1;
  height: 100%;
}
.gameboard > div {
  height: 30dvh;
  aspect-ratio: 1.2/1;
  position: relative;
}
.gameboard > div button {
  position: absolute;
  transform: translate(-50%, -50%);
}
.gameboard .scissors-button {
  top: 0;
  left: 0;
}
.gameboard .paper-button {
  left: 100%;
  top: 0;
}
.gameboard .rock-button {
  top: 100%;
  left: 50%;
}
.gameboard.bonus-gameboard .scissors-button {
  top: 0;
  left: 50%;
}
.gameboard.bonus-gameboard .paper-button {
  left: 100%;
  top: 38%;
}
.gameboard.bonus-gameboard .rock-button {
  top: 100%;
  left: 78%;
}
.gameboard.bonus-gameboard .lizard-button {
  top: 100%;
  left: 22%;
}
.gameboard.bonus-gameboard .spock-button {
  top: 38%;
  left: 0%;
}

/*# sourceMappingURL=main.css.map */
